/client/node_modules/
/client/.vscode/
/server/out/*
/server/tmp/
/server/build
/server/.vs/
/server/tools/symbol_scanner/symbol_scanner
/server/tools/symbol_scanner/symbol_scanner.exe
/server/tools/symbol_scanner/lex.yy.c
/.vscode/
